language: c
script: ./.travis-ci.sh
matrix:
  include:
    - os: linux
      env: OCAML_VERSION=4.03
    - os: linux
      env: OCAML_VERSION=4.04
    - os: linux
      env: OCAML_VERSION=4.05
    # in addition, test opam package build (PACKAGE="piqilib")
    - os: linux
      env: OCAML_VERSION=4.06 PACKAGE="piqilib"
        # in addition, test opam package build (PACKAGE="piqilib")
    - os: linux
      env: OCAML_VERSION=4.07 PACKAGE="piqilib"
        # in addition, test opam package build (PACKAGE="piqilib")
    - os: linux
      env: OCAML_VERSION=4.08 PACKAGE="piqilib"
    # testing only basic install on osx with latest homebrew formulas
    - os: osx
      env: OCAML_VERSION=homebrew
branches:
  only:
    - master
