{application, piqi,
 [{description, "Piqi Library"},
  {vsn, "%VSN%"},
  {modules, [piqirun, piqi_tools, piqi_rpc_piqi, piqi_tools_piqi]},
  {registered, []},
  {applications, [kernel, stdlib]},
  {env, []}]}.
